<!DOCTYPE html>
<html>
  <head>
    <title>MyFavoriteSalon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/442d465ed4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navber navber-expand-lg navber-light fixed-top" style="background-color: #e3f2fd;">
      <div class="container">
        <div class="nav navber-nav p-3">

          <% if salon_signed_in? %>
          <%= link_to image_tag("logo.png",class: "navber-brand"), root_path %>
          <ul class="nav navber-nav ml-auto">
            <li class="nav-item"><%= link_to "各種登録", "", class: "nav-link text-dark" %></li>
            <li class="nav-item"><%= link_to "基本情報変更", "",class: "nav-link text-dark" %></li>
            <li class="nav-item"><%= link_to "予約状況",salons_reservations_path, class: "nav-link text-dark" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_salon_session_path,method: :delete, class: "nav-link text-dark" %></li>
          </ul>

          <% else %>
          <%= link_to image_tag("logo.png",class: "navber-brand"), root_path %>
          <ul class="nav navber-nav ml-auto">
            <li class="nav-item"><%= link_to "ログイン", new_salon_session_path, class: "nav-link text-dark" %></li>
            <li class="nav-item"><%= link_to "新規登録", step1_salons_signup_index_path, class: "btn btn-outline-dark" %></li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>
      <%= render 'layouts/flash' %>
      <%= yield %>
  </body>
</html>
