<div class="container">
  <div class="new_menu">
    <h3 class="title my-4">| スタイリング画像登録</h3>
    <%= render 'salons/images/error_messages', image: @image %>

    <%= form_with model: @image, url: salons_images_path,local: true do |f| %>
      <div class="form_group row mt-3">
        <%= f.attachment_field :style_image %>
        <%= f.submit "登録", class: "btn btn-outline-dark" %>
      </div>
    <% end %>
    <p>サロンイメージ画像は<%= link_to "こちら",salons_salons_salon_image_path %>から登録してください</p>
  </div>

  <div class="new_menu">
    <h3 class="title my-4">| スタイリング画像一覧</h3>
      <div class="row">
        <% if @images.present? %>
          <% @images.each do |image| %>
            <div class="col-lg-3">
              <div class="card" style="width: 18rem;">
                <div class="card-img-top">
                  <%= attachment_image_tag(image, :style_image, :fill, 300, 300, fallback: "logo.png") %>
                </div>
                <div class="card-body">
                  <i class="fas fa-heart fa-5x icon-btn liked"></i><%= image.likes.count %>件
                  <%= link_to "画像削除",salons_image_path(image),method: :delete,class: "ml-5 btn btn-outline-dark" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          画像がありません
        <% end %>
      </div>
  </div>
</div>