<div class="container">
  <h4>＼　まずは登録　／</h4>

  <%= form_with model:@customer, url:customer_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form_group row">
    <%= f.label :last_name, "名前", class: "col-lg-2" %><br />
    <p>性</p><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "col-lg-4 form-control" %>
    <p>名</p><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "col-lg-4 form-control" %>
  </div>

  <div class="form_group row">
    <%= f.label :last_name_kana,"名前(カナ)", class: "col-lg-2" %><br />
    <p>性</p><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "col-lg-4 form-control" %>
    <p>名</p><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "col-lg-4 form-control" %>
  </div>

  <div class="form_group row">
    <%= f.label :telephone_number,"電話番号", class: "col-lg-2" %><br />
    <%= f.number_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "col-lg-4 form-control" %>
  </div>

  <div class="form_group row">
    <%= f.label :email, "メールアドレス", class: "col-lg-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-4 form-control" %>
  </div>

  <div class="form_group row">
    <%= f.label :password, "パスワード", class: "col-lg-2" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "col-lg-4 form-control" %>
  </div>

  <div class="form_group row">
    <%= f.label :password_confirmation, "パスワード(確認)", class: "col-lg-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-lg-4 form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "登録", class: "form-control w-25 btn btn-outline-info" %>
  </div>

  <div class="row">
    <p>すでに登録済みの方は
    <%= link_to "こちら",new_customer_session_path %>　からログインしてください</p>
  </div>
<% end %>

</div>
