<div class="container">
  <div class="row my-4">
    <%= attachment_image_tag @salon, :salon_image ,size:"600x200",fallback: "logo.png" %>
  </div>

  <div class="row my-4">
    <h1 class="col"><%= @salon.name %></h1>
    <div class="col">
      <% if @salon.favorited_by?(current_customer) %>
        <%= link_to "お気に入りから削除", customers_salon_favorites_path(@salon),method: :delete, class: "btn btn-dark" %>
      <% else %>
        <%= link_to "お気に入り登録", customers_salon_favorites_path(@salon),method: :post,class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <div class="rounded p-5" style="background-color: #f5d973;">
    <div class="row my-4">
      <i class="fas fa-map-pin mr-3"> <%= @pref.name %><%= @city.city_name %><%= @salon.address %></i>
      <i class="fas fa-phone-alt mr-3"> TEL: <%= @salon.telephone_number %></i>
    </div>
    <div class="row my-4">
      <i class="far fa-clock mr-3"> 営業時間: <%= simple_time(@salon.start_time) %>〜<%= simple_time(@salon.end_time) %></i>
      <i class="far fa-user mr-3"> スタイリスト数: <%= @salon.stylists %>人</i>
      <i class="fas fa-chair"> 席数: <%= @salon.seats %>席</i>
    </div>
  </div>

  <div class="row my-4">
    <%= @salon.introduction %>
  </div>
  <div class="row">
    <% if @images.present? %>
      <% @images.last(4).each do |image| %>
        <div class="col">
          <%= attachment_image_tag(image, :style_image, size: "200x200", fallback: "logo.png") %>
        </div>
      <% end %>
    <% else %>
        スタイリング画像はありません
    <% end %>
  </div>

  <table class="table my-4">
    <tr>
      <th>メニュー</th>
      <th>平均時間</th>
      <th>料金(税込)</th>
      <% @salon.menus.each do |menu| %>
    <tr>
      <td><%= menu.name %></td>
      <td><%= menu.time %>分</td>
      <td><%= menu.price.to_s(:delimited) %>円</td>
      <% end %>
    </tr>
  </table>
</div>