<div class="container">
  <div class="row position-relative">
    <div class="col-lg-6">
      <%= image_tag "top.png", size: "764x512" %>
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <div class="flex-grow-1">
        <%= image_tag "logo大.png" %>
        <h5>いつでも大好きな自分でいよう</h5>
      </div>
    </div>

      <!--</div>-->
      <!--</div>-->
      <!--<div class="top-link d-flex flex-column">-->
        <!--<%= link_to "初めての方",new_customer_registration_path, class: "btn btn-outline-info mb-3" %>-->
        <!--<%= link_to "登録済みの方",new_customer_session_path, class: "btn btn-outline-info mb-3" %>-->
        <!--<%= link_to "ゲストログイン(ポートフォリオ用)",customers_guest_sign_in_path,method: :post,class: "btn btn-outline-info" %>-->
      <!--</div>-->
    </div>
  </div>
</div>


