<div class="container">
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h3><span>03</span>希望日を選んでください</h3>
        <div class="row">
            <%= form_with model: @rsv, url: step4_reservations_path,method: :get, local: true do |f| %>
              <div class="form_group row">
                <%= f.label :day, "予約希望日", class: "control-label" %><br />
                <%= f.date_field :day, class: "form-control" %>
              </div>
              <div class="form_group row mt-3">
                <%= f.label :start_time,"希望時間", class: "control-label" %>
                <%= f.time_field :start_time, class: "form-control" %>
              </div>
            <%= f.submit "お客様情報入力へ進む",class: "mt-2 form-control btn-btn-outline-dark" %>
        <% end %>
      </div>

      <div class="row mt-3">
        <%= month_calendar events: @reservations do |date, reservations| %>
          <%= date %>
            <% reservations.each do |reservation| %>
            <div>
              <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>
            </div>
            <% end %>
      </div>
        <% end %>
    </div>
  </div>
</div>