<div class="container">
  <div class="row my-4">
    <div class="col-12 text-center">
      <h3><span>01</span>どの美容院を予約しますか？</h3>
      <p>お目当ての美容院が出てこない場合</br>
          美容院をお気に入り登録しないと予約ができません。下記より美容院検索し、お気に入り登録をしてください</p>
      <%= link_to "美容院を探す", customers_salons_path, class: "btn btn-outline-dark" %>
    </div>

      <div class="row mt-3">
        <% @favorites.each do |fav| %>
          <%= link_to step2_reservations_path(salon_id: fav.salon_id),class: "btn" do %>
            <div class="card col mr-2", style="width: 20rem;">
              <%= attachment_image_tag fav.salon, :salon_image ,size:"200x200",fallback: "logo.png",class: "card-image-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= fav.salon.name %></h5>
                <p class="card-text">
                  <%= fav.salon.prefecture.name %><%= fav.salon.municipality.city_name %><%= fav.salon.address %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>