<h2>＼　ログイン　／</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.number_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン",class: "btn bnt-outline-info" %>
  </div>

  <div class="row">
    <p>登録がまだの方は<%= link_to "こちら", new_customer_registration_path %>から登録してください</p>
  </div>

<% end %>

<%= render "devise/shared/links" %>
