<div class="container">
  <div class="row my-3">
    <h3>お気に入りサロン</h3>
  </div>

  <div class="row">
    <% @favorites.each do |fav| %>
    <div class="card col-lg-3 mr-2", style="width: 20rem;">
      <%= attachment_image_tag fav.salon, :salon_image ,size:"200x200",fallback: "logo.png",class: "card-image-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to fav.salon.name,customers_salon_path(fav.salon_id) %></h5>
        <p class="card-text font-small">
          <%= fav.salon.prefecture.name %><%= fav.salon.municipality.city_name %><%= fav.salon.address %>
        </p>
    <% end %>
    </div>
  </div>